# Project exclude paths
/hypersub/chaincode/node_modules/
/hypersub/organization/nexnet/contract/node_modules/
/organizations/fabric-ca/nexnet/msp/keystore/3da474095c883468f934736cc7b9c55490a34631f013d5c2ce10c83610ff3adf_sk
/organizations/fabric-ca/ordererOrg/msp/keystore/785aae99ea48ba8fb5fd7312129c1cfb1644dbe1356c254a27822b93bbaeb3c1_sk
/organizations/fabric-ca/auditor/msp/keystore/9dca02f558b6e915d882420fbc5309b96f721563379be6454a3f52a133d04970_sk
/organizations/fabric-ca/debtcollector/msp/keystore/b25cbfb2770dbdaa59e6a27337a37131175cec6a466f87b10b8a6ed75352c428_sk
/organizations/fabric-ca/auditor/msp/keystore/08aa49106384099625a985a3e72b739a0ccc120377affc43950989c8585de6b6_sk
/organizations/fabric-ca/ordererOrg/msp/keystore/4675a5825e95e2a2cb5603b7940261a69732ccd3adf073c162d098b760a0b882_sk
/organizations/fabric-ca/xorg/msp/keystore/491d091cf76c1cf21d0329b4224c929344492247480a2072d8fa1b0277aff700_sk
/organizations/fabric-ca/nexnet/msp/keystore/5b04d85d68a0c7ad4664f3cdb1eaaf200859a3dfc76d8084bd96a2e971887c41_sk
/organizations/fabric-ca/xorg/msp/keystore/cde65d5fa4bf22ff029b1b2215d08d90216208d811d735dfbc2d20b432710d1b_sk
/organizations/fabric-ca/debtcollector/msp/keystore/d0ee51b843beb84293410c6d7f6b70fb3fe3bcaf83c1c1d536defa6071512390_sk
/organizations/peerOrganizations/
/organizations/ordererOrganizations/
.idea
.idea/*
/organizations/fabric-ca/auditor/
/organizations/fabric-ca/debtcollector/
/organizations/fabric-ca/nexnet/
/organizations/fabric-ca/ordererOrg/
/organizations/fabric-ca/xorg/
/hypersub/application/server/src/.env
/hypersub/server/node_modules/
/waste/waste.sh
/contract/node_modules/
/hypersub/chaincode/dist/
/hypersub/server/wallet/
/hypersub/server/dist
/hypersub/server/dist/*
/customeraccountcc.tar.gz
/waste/CustomerAccountContractTest.ts
/hypersub/poc-app/src/Spinner-1s-200px.gif
/hypersub/server/package-lock.json
