body {
  min-width: 100vw;
  min-height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.tohome-btn {
  margin-top: 15px;
  padding: 15px;
  font-weight: bolder;
  font-size: 20px;
  border: 1px solid cornflowerblue;
  border-radius: 10px;
}

a{
  text-decoration: none;
}